@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
}

input {
  padding: 0.5rem;
  border: 2px solid black;
}

button {
  padding: 0.5rem;
  border: 2px solid black;
}
